@import "./components/header.scss";
@import "./components/search-controls.scss";
@import "./components/weather-section.scss";
@import "./components/weather-forecast.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(to bottom right,
      #60a5fa,
      #3b82f6,
      #2563eb);
  font-family: Inter,system-ui,sans-serif;
}
